@import "../../styles/colors.scss";

.image {
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  align-self: flex-start;
  margin: 50px auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  flex-direction: column;
  .list {
    flex-direction: column;
    text-align: left;
    display: flex;
    justify-content: center;
    width: 859px;
    a {
      color: $gray;
    }
  }
  .title {
    align-self: flex-start;
    color: $pink;
  }
}

@media (max-width: 700px) {
  .wrapper {
    flex-direction: column;
  }
}
